body {
    color:rgb(12, 12, 108);
} 
.center{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}   
.c{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: rgb(235, 200, 242);
}   
.left{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.es{
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
